<!DOCTYPE html>
<html lang="en">

{% include '/parts/head.html' %}

<!-- Main Body-->
<body>

    <div id="main-content" class="container">
        <h1>Hello World</h1>

        <!-- Bullshit form -->
        <form id="main-form" method="post" action="{{ url_for('process') }}">
            {{ form.hidden_tag() }}
            <div class="form-group row">
                <div class="col-sm-10 col-lg-10">
                    {{ form.first_name.label }}
                    {{ form.first_name(class_='form-control', placeholder='First Name') }}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-10 col-lg-10">
                    {{ form.last_name.label }}
                    {{ form.last_name(class_='form-control', placeholder='Last Name') }}
                </div>
            </div>

            <button id="submit" type="button" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <div id="loading-content" style="display: none;">
        <img src="{{ url_for('static', filename='assets/loading.gif') }}" alt="Loading GIF">
    </div>

    <!-- Form processor -->
    <script src="{{ url_for('static', filename='js/process_form.js') }}"></script>
</body>
</html>